a {
    transition: 0.15s;
}

.bar {
    border-left: 1px solid #b6b3a8;
    height: 25px;
    margin-left: 16px;
}

.header {
    display: flex;
    height: 100px;
    justify-content: center;
    left: 0;
    width: 100%;
    background: #16151C;
    color: #eae7dc;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1050px;
    width: 100%;
}

.logo {
    text-decoration: none;
    color: #eae7dc;
}

.title {
    letter-spacing: 3px;
}

.nav-links {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
}

.nav-links-footer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600;
    width: 100%;
}

.link {
    /*color: #719927;*/
    color: #b6b3a8;
    text-decoration: none;
    letter-spacing: 0.01em;
    padding: 18px 16px;
}

.link:hover {
    color: #cfccc1;
    /*color: #85af28;*/
}